plex_config = {
  node_name    = "pve-main"
  vm_id        = 202
  ipv4_address = "192.168.1.130/24"
  disk_size_gb = 16
  memory_mb    = 4096
  cpu_cores    = 4
}

jenkins_config = {
  node_name    = "proxmox"
  vm_id        = 207
  ipv4_address = "192.168.1.132/24"
  disk_size_gb = 32
  memory_mb    = 4096
  cpu_cores    = 4
}
