proxmox_api_url      = "https://192.168.1.111:8006/"
proxmox_token_id     = "terraform@pve!terraform-1"
proxmox_token_secret = "change-me"
ssh_public_key_path  = "~/.ssh/id_ed25519_proxmox.pub"
lxc_dns_servers      = ["192.168.1.120"]
